<html lang="es">
    <head>
        <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css" />
        <% if ENV['RACK_ENV'] == 'production' %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-17828829-5', 'auto');
          ga('send', 'pageview');
        </script>
        <% end %>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/application.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-social.css" rel="stylesheet" type="text/css" />
        <title>NicoPaez Website</title>
    </head>
    <body>
        <div id="page-container">
        <div id="content">
            <div id="title">
            Nicolás Paez
            </div>
            <hr/>
            <div>
                <a class="btn btn-social-icon btn-github" href="http://blog.nicopaez.com/" target="_blank">
                    <span class="fa fa-wordpress"></span><span class="hidden">Wordpress</span>
                </a>
                <a class="btn btn-social-icon  btn-github" href="https://twitter.com/inicopaez" target="_blank">
                    <span class="fa fa-twitter"></span><span class="hidden">Twitter</span>
                </a>
                <a class="btn btn-social-icon btn-github" href='https://github.com/nicopaez' target="_blank">
                    <span class="fa fa-github"></span><span class="hidden">Github</span>
                </a>
                <a class="btn btn-social-icon btn-github" href="https://ar.linkedin.com/in/nicopaez" target="_blank">
                    <span class="fa fa-linkedin"></span><span class="hidden">LinkedIn</span>
                </a>
                <a class="btn btn-social-icon btn-github" href="https://www.youtube.com/c/TutorialesNicoPaez" target="_blank">
                    <span class="fa fa-youtube"></span><span class="hidden">YouTube</span>
                </a>
                <a class="btn btn-social-icon btn-github" href="http://stackoverflow.com/users/2086864/nicopaez" target="_blank">
                    <span class="fa fa-stack-overflow"></span><span class="hidden">Stackoverflow</span>
                </a>
                <a class="btn btn-social-icon btn-github" href="https://soundcloud.com/inicopaez" target="_blank">
                    <span class="fa fa-soundcloud"></span><span class="hidden">Soundcloud</span>
                </a>
            </div>
        </div>
    </body>
</html>
