<html lang="es">
    <head>
        <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css" />
        <% if ENV['RACK_ENV'] == 'production' %>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-17828829-5', 'auto');
          ga('send', 'pageview');
        </script>
        <% end %>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/application.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-social.css" rel="stylesheet" type="text/css" />
        <title>NicoPaez Website</title>
    </head>
    <body>
        <div id="page-container">
        <div id="content">
                <iframe allow="camera; microphone; display-capture" src="https://meet.jit.si/nicopaez" style="height: 100%; width: 100%; border: 0px;"></iframe>
            
        </div>
    </body>
</html>
