<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/application.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-social.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="page-container">
        <div id="content">
            <div id="title">
            New link
            </div>
            <hr/>
            <div class="container">
                <% form_for(@redirection, '/newlink') do |f| %>
                    <p>
                        <%= f.label :target_url, :class => 'sr-only' %>
                        <%= f.text_field :target_url, :class => 'form-control', :placeholder => 'Target Url' %>
                    </p>
                    <p>
                        <%= f.label :keyword, :class => 'sr-only' %>
                        <%= f.text_field :keyword, :class => 'form-control', :placeholder => 'Keyword' %>
                    </p>
                    <p>
                        <%= recaptcha_tags %>
                    </p>
                    <%= f.submit "Generate", :id => 'submitButton', :class => "btn btn-lg btn-primary btn-block" %>
                    
                <% end %>
          </div>
          <div class="container">
          <div>
			<%= [:error, :warning, :success, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :id =>'flashMessage', :bootstrap => true) }.join.html_safe %>
		  </div>
          </div>
        </div>
    </body>
</html>
