<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
        <link href='css/bootstrap.css' rel='stylesheet' type='text/css'>
        <link href='css/font-awesome.css' rel='stylesheet' type='text/css'>
        <link href='css/application.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="page-container">
        <div id="content">
            <div id="title">
            Oooops! Not found
            </div>
            <hr/>
        </div>
    </body>
</html>
